/* ipad */
@media screen and (max-width:799px) {
    *{
        box-sizing: border-box;
    }
    .section-p1{
        padding: 40px;
    }
    
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        width: 300px;
        position: fixed;
        top: 0;
        right: -300px;
        padding: 80px 0 0 10px;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        background-color: #e3e6f3;
        transition: all 0.4s ease;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        font-size: 18px;
        position: absolute; /*positioned relative to the navbar (position:fixed*/
        top: 40px;
        left: 30px;
        color: #1a1a1a;
    }
    
    .lg-bag{
        display: none;
    }

    #img-slider .slide .info{
        padding: 0 30px;
        
    }
    #img-slider .slide .info h1{
        font-size: 45px;
    }
    #img-slider .slide img{
        object-fit: contain;
        right: -90px;
    }

    #feature{
        justify-content: center;
        gap: 22px;
    }

    #product1 .pro-container{
        justify-content: center;
        gap: 30px;
    }
    #product1 .pro-container .pro{
        height: 380px;
        width: 290px;    
    }

    #ba .container{
        height: 30vh;
    }
   
    #sm-banner .banner-box{
        min-width: 90vw;
        height: 40vh;
    }
    #sm-banner .banner-box:nth-child(1){
        background-position: right 6%;
    }
    #lg-banner{
        width: 100%;
        margin: 20px auto;
        gap: 20px;
        justify-content: center;                
    }
     #lg-banner .cont{
        width: 30%;
        height: 33vh;
    }

   footer{
    margin: 60px 30px;
   }
   footer .install{
    margin-left: -2px;
    margin-top: -40px;
   }

   .copyright{
    margin-left: 190px;
   }

}
 
