/* ipad */
@media screen and (max-width:896px) { /*max-width:840px)*/
    *{
        box-sizing: border-box;
    }
    .section-p1{
        padding: 40px;
    }
    #newsletter form #email,
    #newsletter form button{
        height: 56px;
    }
    
    #navbar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100vh;
        width: 300px;
        position: fixed;
        top: 0;
        right: -300px;
        padding: 80px 0 0 10px;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        background-color: #e3e6f3;
        transition: all 0.4s ease;
    }

    #navbar.toggle{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close{
        display: initial;
        font-size: 18px;
        position: absolute; /*positioned relative to the navbar (position:fixed*/
        top: 40px;
        left: 30px;
        color: #1a1a1a;
    }
    
    .lg-bag{
        display: none;
    }

    #img-slider .slide .info{
        padding: 0 30px;
        
    }
    #img-slider .slide .info h1{
        font-size: 45px;
    }
    #img-slider .slide img{
        object-fit: contain;
        right: -90px;
    }

    #feature{
        justify-content: center;
        gap: 22px;
    }

    #product1 .pro-container{
        justify-content: center;
        gap: 30px;
    }
    #product1 .pro-container .pro{
        height: 380px;
        width: 290px;    
    }

    #ba .container{
        height: 25vh;
    }
    
    #sm-banner .banner-box{
        min-width: 90vw;
        height: 40vh;
    }
    #sm-banner .banner-box:nth-child(1){
        background-position: right 6%;
    }
    #lg-banner{
        width: 100%;
        margin: 20px auto;
        gap: 20px;
        justify-content: center;                
    }
     #lg-banner .cont{
        width: 30%;
        height: 33vh;
    }

   footer{
    margin: 60px 30px;
   }
   footer .install{
    margin-left: -2px;
    margin-top: -40px;
   }

   .copyright{
    margin-left: 190px;
   }
   /*///////// Blog page /////// */
   #product1 .container:nth-child(2) img{
    object-position: right 60% top 10%; 
   }
   

}

/* Mobile */
@media screen and (max-width: 477px){
    #Header{
        padding: 10px 30px;
    }
    #navbar{
        width: 225px;
    }
    .section-p1{
        padding: 20px;
    }
    #img-slider{
        background: url(./img/img1.jpg) ;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 80% 100%;
        height: 90vh;
    }
    #img-slider .slide img{
        display: none;
    }
    #img-slider .slide .info{
        margin-left: -197px;
        padding: 0 0px;
        top: 50%;
        transform: translateY(-89%);
        
    }
    #img-slider .slide .info h2{
        font-size: 26px;
        
    }
    #img-slider .slide .info h1{
        font-size: 34px;
        margin-top: -8px;
        
    }
    #img-slider .slide .info h4{
        
        font-size: 19px;
    }
    #img-slider .slide .info p{
       margin-top: -6px;
    }
    #product1 .pro-container .pro{
        margin-top: 0px;
        margin-bottom: 0px;
        width: 360px;
        height: 444px;
    }
    #ba .container{
        height: 23vh;
    }
    #lg-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    #lg-banner .cont{
        width: 90%!important;
        
    }
    #newsletter{
        height: 25vh;
        padding: 0px 0px;
    }

    #newsletter h4{
        padding:0px 25px;
    }
    #newsletter p{
        font-size: 17px!important;
        padding:0px 25px;
        margin-bottom: -20px;
        
    }
    #newsletter form #email,
    #newsletter form button{
        width: 100%;
        height: 60px;
        margin: 0px 0px;
        transform: translate(-40px);
   
    }
    .copyright{
        
        padding: 40px 30px 0px 0px;
        text-align: center;
        margin-left: 7px;
    }

}
    

 
